{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원등록</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- login.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/login.css'%}">

    <!-- 자바스크립트 -->
    <script type="text/javascript">
        function goCreate() {
            fm = document.getElementById("fm");
        
            mem_id = fm.mem_id.value;
            mem_pass = fm.mem_pass.value;
            mem_com = fm.mem_com.value;
            mem_plan = fm.mem_com.value;
            mem_monitor = fm.mem_com.value;
            mem_vision = fm.mem_com.value;

            fm.action = "/joinafter";
            fm.submit();
        }
    </script>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->

    <div class="container">
        <!-- overlay -->
        <div class="overlay" id="overlay">
            <div class="sign-in" id="sign-in">
                <h1>기존 회원이신가요?</h1>
                <p>서비스를 이용하려면 로그인이 필요합니다.</p>
                <button class="switch-button" id="slide-right-button">로그인하기</button>
            </div>
            <div class="sign-up" id="sign-up">
                <h1>처음 오셨나요?</h1>
                <p>회원가입 후 로그인하시면 다양한 서비스를 제공받으실 수 있습니다.</p>
                <button class="switch-button" id="slide-left-button">회원가입하기</button>
            </div>
        </div>
        <!-- form -->
        <div class="form">
            <div class="sign-in" id="sign-in-info">
                <h1>로그인</h1>
                <p class="small">이메일 아이디를 입력해주세요.</p>
                <form class="sign-in-form" id="fm" method="post">
                    {% csrf_token %}
                    <input type="email" placeholder="이메일"/>
                    <input type="password" placeholder="비밀번호"/><br>
                    <button class="control-button in">로그인하기</button>
                </form>
            </div>
            <div class="sign-up" id="sign-up-info">
                <h1>회원가입</h1>
                <p class="small">이용하실 서비스를 모두 선택해주세요.</p>
                <form class="sign-up-form" id="fm" method="post" action="/joinafter">
                    {% csrf_token %}
                    <div class="sign-up-box">
                        <input type="text" name="mem_id" placeholder="이메일"/>
                        <input type="password" name="mem_pass" placeholder="비밀번호"/>
                        <input type="text" name="mem_com" placeholder="회사명"/>
                    </div>
                    <div class="check-service">
                        <div><input type="checkbox" name="mem_plan" value=1>생산 계획</div>
                        <div><input type="checkbox" name="mem_monitor" value=1>공정 모니터링</div>
                        <div><input type="checkbox" name="mem_vision" value=1>자동화 검사</div>
                    </div>
                    <button class="control-button up" onclick="goCreate()">회원가입하기</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var overlay = document.getElementById("overlay");

        // Buttons to 'switch' the page
        var openSignUpButton = document.getElementById("slide-left-button");
        var openSignInButton = document.getElementById("slide-right-button");

        // The sidebars
        var leftText = document.getElementById("sign-in");
        var rightText = document.getElementById("sign-up");

        // The forms
        var accountForm = document.getElementById("sign-in-info")
        var signinForm = document.getElementById("sign-up-info");

        // Open the Sign Up page
        openSignUp = () =>{
            // Remove classes so that animations can restart on the next 'switch'
            leftText.classList.remove("overlay-text-left-animation-out");
            overlay.classList.remove("open-sign-in");
            rightText.classList.remove("overlay-text-right-animation");
            // Add classes for animations
            accountForm.className += " form-left-slide-out"
            rightText.className += " overlay-text-right-animation-out";
            overlay.className += " open-sign-up";
            leftText.className += " overlay-text-left-animation";
            // hide the sign up form once it is out of view
            setTimeout(function(){
                accountForm.classList.remove("form-left-slide-in");
                accountForm.style.display = "none";
                accountForm.classList.remove("form-left-slide-out");
            }, 700);
            // display the sign in form once the overlay begins moving right
            setTimeout(function(){
                signinForm.style.display = "flex";
                signinForm.classList += " form-right-slide-in";
            }, 200);
        }

        // Open the Sign In page
        openSignIn = () =>{
            // Remove classes so that animations can restart on the next 'switch'
            leftText.classList.remove("overlay-text-left-animation");
            overlay.classList.remove("open-sign-up");
            rightText.classList.remove("overlay-text-right-animation-out");
            // Add classes for animations
            signinForm.classList += " form-right-slide-out";
            leftText.className += " overlay-text-left-animation-out";
            overlay.className += " open-sign-in";
            rightText.className += " overlay-text-right-animation";
            // hide the sign in form once it is out of view
            setTimeout(function(){
                signinForm.classList.remove("form-right-slide-in")
                signinForm.style.display = "none";
                signinForm.classList.remove("form-right-slide-out")
            },700);
            // display the sign up form once the overlay begins moving left
            setTimeout(function(){
                accountForm.style.display = "flex";
                accountForm.classList += " form-left-slide-in";
            },200);
        }

        // When a 'switch' button is pressed, switch page
        openSignInButton.addEventListener("click", openSignIn, false);
        openSignUpButton.addEventListener("click", openSignUp, false);
    </script>
</body>
</html>