{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISIX 아이식스</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- 자바스크립트 -->
    <script type="text/javascript">
    </script>
</head>
<body>
    <!-- header 시작 -->
    <header class="header">
        <div class="container header__container">
            <!-- header logo -->
            <div class="header__logo">
                <a href="/"><img class="header__img" src="/static/images/isix_text_logo.png"></a>
            </div>
            <!-- header menu -->
            <div class="header__menu">
                <nav id="navbar" class="header__nav">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="#" class="header__link">기술 소개</a></li>
                        <li class="header__el"><a href="#" class="header__link">생산 계획</a></li>
                        <li class="header__el"><a href="#" class="header__link">공정 모니터링</a></li>
                        <li class="header__el"><a href="#" class="header__link">자동화 검사</a></li>
                        <li class="header__el header__el--blue"><a href="#" class="btn btn--white">로그인 →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- header 끝 -->

    <!-- 메인 이미지 시작 -->
    <div class="sect sect--padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site">
                        <img class="site__img" src="/static/images/machine_image.jpg">
                        <h1 class="site__title text--ani">ISIX</h1>
                        <h2 class="site__subtitle">아이식스는 제조업 확장을 위한 공급망 최적화 및 산업 자동화 구현을 하고 있습니다.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 메인 이미지 끝 -->

    <!-- 기술 소개 시작 -->
    <div class="sect sect--padding-bottom tech--show">
        <div class="container">
            <!-- 제목 -->
            <div class="row row--center">
                <h1 class="row__title">기술 요약</h1>
                <h2 class="row__sub">스마트 제조 환경 개선을 위한 서비스 제공</h2>
            </div>
            <!-- 박스 3개 -->
            <div class="row row--center row--margin tech--box">
                <!-- 첫번째 -->
                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <div class="price-box__img"></div>
                        <h1 class="price-box__title">생산 계획</h1>
                        <p class="price-box__people">1,000만 원</p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">딥러닝을 통한 모델 학습</li>
                            <li class="price-box__list-el">부품별 발주 수량 예측</li>
                            <li class="price-box__list-el">7일간의 생산 계획 제공</li>
                        </ul>
                    </div>
                </div>
                <!-- 두번째 -->
                <div class="col-md-4 col-sm-4 price-box price-box--violet">
                    <div class="price-box__wrap">
                        <div class="price-box__img"></div>
                        <h1 class="price-box__title">공정 모니터링</h1>
                        <p class="price-box__people">1,500만 원</p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">설비 데이터 안정 범위 추출</li>
                            <li class="price-box__list-el">공정별 이상 감지 및 알림</li>
                            <li class="price-box__list-el">실시간 공정 모니터링</li>
                        </ul>
                    </div>
                </div>
                <!-- 세번째 -->
                <div class="col-md-4 col-sm-4 price-box price-box--blue">
                    <div class="price-box__wrap">
                        <div class="price-box__img"></div>
                        <h1 class="price-box__title">자동화 검사</h1>
                        <p class="price-box__people">4,000만 원</p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">공정 완료된 부품 탐지</li>
                            <li class="price-box__list-el">자동화된 양불 판정</li>
                            <li class="price-box__list-el">실시간 품질 관리</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 기술 소개 끝 -->

    <!-- footer 시작 -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="contents">
                    <!-- 1열 -->
                    <div class="content--box">
                        <h3>Team</h3>
                        <span class="footer__text">2023 한국품질재단</span>
                        <span class="footer__text footer__blank">빅데이터 분석가 양성과정 2기</span>
                        <span class="footer__text">김소연 김현준 박시윤</span>
                        <span class="footer__text">양현준 이경현 최예진</span>
                    </div>
                    <!-- 2열 -->
                    <div class="content--box">
                        <h3>Links</h3>
                        <a class="footer__text" href="#">기술 소개</a>
                        <a class="footer__text" href="#">생산 계획</a>
                        <a class="footer__text" href="#">공정 모니터링</a>
                        <a class="footer__text" href="#">자동화 검사</a>
                    </div>
                    <!-- 3열 -->
                    <div class="content--box">
                        <h3>References</h3>
                        <a class="footer__text" href="https://codepen.io/veronicadev/pen/YYvjzO">Codepen - veronica</a>
                        <a class="footer__text" href="https://www.freepik.com/free-ai-image/mechanic-controls-robotic-arm-futuristic-production-line-generated-by-ai_41366140.htm#query=smart%20factory&position=18&from_view=search&track=ais?log-in=google">Freepik - vecstock</a>
                    </div>
                    <!-- 4열 -->
                    <div class="content--box">
                        <h3>Contact Us</h3>
                        <a class="footer__text" href="mailto:data.syentist@gmail.com">E-mail</a>
                        <a class="footer__text" href="https://github.com/ISIX-9899">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer 끝 -->
</body>