{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기술 소개 - 공정 모니터링</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- intro.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/intro.css'%}">

    <!-- fontawesome 가져오기-->
    <script src="https://kit.fontawesome.com/a156a684e7.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->

    <!-- menu 시작-->
    <div class="res__menu">
        <ul>
            <li><a href="/introduce/planning">생산 계획</a></li>
            <li><a href="/introduce/monitoring">공정 모니터링</a></li>
            <li><a href="/introduce/vision">자동화 검사</a></li>
        </ul>
    </div>
    <!-- menu 끝 -->
    
    <!-- 기술 소개 시작 -->
    <div class="intro__box">
        <!-- 기술 제목 -->
        <div class="intro__title">
            <span class="intro__title__large">공정 모니터링</span>
            <span class="intro__title__small">Process Monitoring</span>
        </div>
        <!-- 기술 소개 -->
        <div class="intro__subtitle">
            <span class="intro__subtitle__large">공정 최적화를 위한 실시간 모니터링</span>
            <span class="intro__subtitle__small">ML을 활용한 공정 로그 분석을 통해 최적의 공정 변수 Range를 추출하고 실시간 공정을 관리/감독합니다.<br>
                효율적인 공정 이슈 파악을 통해 제품 품질의 원인 분석 작업 능률을 극대화합니다.</span>
        </div>
        <!-- 기술 상세 내용 -->
        <div class="intro__detail">
            <div class="intro__detail__box">
                <div class="intro__detail__text">
                    <span class="intro__detail__text--title">데이터 기반 생산 최적화와 작업자 적응 주기 단축</span>
                    <span class="intro__detail__text--cont">현장에서 발생하는 생산 데이터 수집/분석/추출 프로세스를 통해 생산 제품 품질 향상을 위한 최적의 공정 조건을 파악합니다.
                         작업자의 경험과 노하우에 의존하였던 기존의 문제점 개선을 통해 신규 작업자의 적응 주기를 단축할 수 있습니다.</span>
                </div>
                <img class="intro__detail__img" src="/static/images/monitoring_range.png">
            </div>
            <div class="intro__detail__box">
                <img class="intro__detail__img" src="/static/images/monitoring_pred.png">
                <div class="intro__detail__text">
                    <span class="intro__detail__text--title">불량 원인 분석에 따른 불량률 감소와 제조 비용 절감</span>
                    <span class="intro__detail__text--cont">불량 발생시, 복합적인 공정 구조로 인한 주요 원인 도출 불명확성 문제를 개결할 수 있습니다.
                        품질과 공정 데이터를 분석하여 데이터 간의 상관관계를 찾고 주요 문제별 원인 인자를 분석합니다.
                        중요 특성에 대한 중점적 관리를 통해 제품의 불량률을 감소와 동시에 제조 비용의 절감을 도모할 수 있습니다.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 기술 소개 끝 -->

    <!-- footer 시작 -->
    {% include 'mainapp/include/footer.html' %}
    <!-- footer 끝 -->

    <!-- 자바스크립트 -->
    <script type="text/javascript">
        const toggleBtn = document.querySelector('.navbar__toggleBtn');
        const menu = document.querySelector('.header__elenco');

        toggleBtn.addEventListener('click', () => {
        menu.classList.toggle('active')
        })
    </script>
</body>
</html>