{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기술 소개 - 자동화 검사</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- intro.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/intro.css'%}">

    <!-- fontawesome 가져오기-->
    <script src="https://kit.fontawesome.com/a156a684e7.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->
    
   <!-- menu 시작-->
   <div class="res__menu">
        <ul>
            <li><a href="/introduce/planning">생산 계획</a></li>
            <li><a href="/introduce/monitoring">공정 모니터링</a></li>
            <li><a href="/introduce/vision">자동화 검사</a></li>
        </ul>
    </div>
    <!-- menu 끝 -->

    <!-- 기술 소개 시작 -->
    <div class="intro__box">
        <!-- 기술 제목 -->
        <div class="intro__title">
            <span class="intro__title__large">자동화 검사</span>
            <span class="intro__title__small">Automated Inspection</span>
        </div>
        <!-- 기술 소개 -->
        <div class="intro__subtitle">
            <span class="intro__subtitle__large">최종 완성 전 부품에 대한 자동화 불량 검사</span>
            <span class="intro__subtitle__small">딥러닝 및 컴퓨터 비전 기술을 활용한 자동 검사 시스템은 제품를 감지합니다.<br> 
                제품 양불 판단 공정을 자동화하여 생산 공정을 효율적으로 관리하고 제품 품질을 향상시킬 수 있습니다.</span>
        </div>
        <!-- 기술 상세 내용 -->
        <div class="intro__detail">
            <div class="intro__detail__box">
                <div class="intro__detail__text">
                    <span class="intro__detail__text--title">실시간 제품 품질 분석 및 모니터링 시스템</span>
                    <span class="intro__detail__text--cont">제품 감지 시스템으로 실시간 비디오 스트림에서 프레임마다 제품을 감지합니다.
                        공정의 실시간 영상과 양불 판정 그래프가 동시에 표시됩니다. 이미지, 분류결과, 판정 시각 등의 공정 기록은 데이터베이스에 자동 저장되며
                        생산 품질을 모니터링하고 품질 관리 결정을 내릴 수 있습니다.
                    </span>
                </div>
                <img class="intro__detail__img" src="/static/images/machine_image.jpg">
            </div>
            <div class="intro__detail__box">
                <img class="intro__detail__img" src="/static/images/machine_image.jpg">
                <div class="intro__detail__text">
                    <span class="intro__detail__text--title">일관성 향상 및 비용 절감</span>
                    <span class="intro__detail__text--cont">데이터 기반의 객관적 판단 기준을 적용하여 기존 여러 사람에 의해 진행되는 양불 판정 작업을 보다 일관적이고 높은 정확도로 대체할 수 있습니다.
                        반복적이고 규칙적인 검사를 수행해야 하는 단순 반복 작업을 효과적으로 수행함으로써 인력 및 시간 비용 절감을 기대할 수 있습니다.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 기술 소개 끝 -->

    <!-- footer 시작 -->
    {% include 'mainapp/include/footer.html' %}
    <!-- footer 끝 -->

    <!-- 자바스크립트 -->
    <script type="text/javascript">
        const toggleBtn = document.querySelector('.navbar__toggleBtn');
        const menu = document.querySelector('.header__elenco');

        toggleBtn.addEventListener('click', () => {
        menu.classList.toggle('active')
        })
    </script>
</body>
</html>