{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동화 검사</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- detail.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/detail.css'%}">

    <!-- 자바스크립트 -->
    <script type="text/javascript">
    </script>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->

    <!-- detail 시작 -->
    <div class="detail">
        <!-- menu 시작 -->
        <div class="sidebar">
            <div class="avatar">
                <div class="avatar__img">
                    <img src="/static/images/person.png" alt="avatar">
                </div>
                <div class="avatar__name">관리자</div>
            </div>
            <nav class="menu">
                <a class="menu__item menu__item--active" href="/vision">
                    <span class="menu__text">자동화 검사</span>
                </a>
                <a class="menu__item" href="/vision/pass">
                    <span class="menu__text">양품 확인</span>
                </a>
                <a class="menu__item" href="/vision/fail">
                    <span class="menu__text">불량품 확인</span>
                </a>
            </nav>
        </div>
        <!-- menu 끝 -->

        <!-- dashboard 시작 -->
        <div class="dashboard">
            <div class="dashboard__text">
                <h2 class="dashboard__title">자동화 검사</h2>
                <span class="dashboard__ex">의 7일간 발주 예정 수량을 알려드립니다.</span>
            </div>
            <div class="dashboard__video">
                <video src="{% static 'mainapp/videos/sample_video.mp4'%}" autoplay muted controls></video>
            </div>
            <div class="dashboard__graph">
                <div>
                    <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=1s&panelId=3" width="1000" height="400" frameborder="0"></iframe>
                </div>
                <div>
                    <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=1s&panelId=2" width="500" height="300" frameborder="0"></iframe>
                    <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=1s&panelId=1" width="500" height="300" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <!-- dashboard 끝-->
    </div>
    <!-- detail 끝-->



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // 페이지 로드 시 자동으로 요청을 보냄
        $.get("/vision/model", function(data, status) {
        if (status === "success") {
            // 요청 성공
            // 여기에서 데이터를 처리하거나 무시할 수 있습니다.
        } else {
            // 요청 실패
            console.error("Failed to load content");
        }
        });
    });
    </script>
    
    <!-- footer 시작 -->
    {% include 'mainapp/include/footer.html' %}
    <!-- footer 끝 -->
</body>
</html>