{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동화 검사 - 불량품 검사</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- detail.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/detail.css'%}">

    <!-- 자바스크립트 -->
    <script type="text/javascript">
    </script>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->

    <!-- detail 시작 -->
    <div class="detail">
        <!-- menu 시작 -->
        <div class="sidebar">
            <div class="avatar">
                <div class="avatar__img">
                    <img src="/static/images/person.png" alt="avatar">
                </div>
                <div class="avatar__name">관리자</div>
            </div>
            <nav class="menu">
                <a class="menu__item" href="#">
                    <span class="menu__text">자동화 검사</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__text">양품 확인</span>
                </a>
                <a class="menu__item menu__item--active" href="#">
                    <span class="menu__text">불량품 확인</span>
                </a>
            </nav>
        </div>
        <!-- menu 끝 -->

        <!-- dashboard 시작 -->
        <div class="dashboard">
            <div class="dashboard__text">
                <h2 class="dashboard__title">자동화 검사</h2>
                <span class="dashboard__ex">의 7일간 발주 예정 수량을 알려드립니다.</span>
            </div>
            <div class="dashboard__video">
                <video src="{% static 'mainapp/videos/sample_video.mp4'%}" autoplay muted></video>
                <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=auto&panelId=2" frameborder="0"></iframe>
                <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=auto&panelId=1" frameborder="0"></iframe>
            </div>
        </div>
        <!-- dashboard 끝-->
    </div>
    <!-- detail 끝-->
    
    <!-- footer 시작 -->
    {% include 'mainapp/include/footer.html' %}
    <!-- footer 끝 -->
</body>
</html>