{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동화 검사</title>
    <!-- favicon 설정하기 -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/isix_logo.png'%}">

    <!-- font.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/font.css'%}">

    <!-- main.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css'%}">

    <!-- detail.css 가져오기 -->
    <link rel="stylesheet" href="{% static 'mainapp/css/detail.css'%}">

    <!-- 자바스크립트 -->
    <script type="text/javascript">
    </script>
    <style>
        iframe {
            flex: 1; /* 각 iframe을 균일한 너비로 확장 */
            border: none; /* 테두리 제거 */
            height: 300px;
            width: 400px; /* 원하는 높이로 설정 */
        }
    </style>
</head>
<body>
    <!-- header 시작 -->
    {% include 'mainapp/include/header.html' %}
    <!-- header 끝 -->

    <!-- detail 시작 -->
    <div class="detail">
        <!-- menu 시작 -->
        <div class="sidebar">
            <div class="avatar">
                <div class="avatar__img">
                    <img src="/static/images/person.png" alt="avatar">
                </div>
                <div class="avatar__name">Manager</div>
            </div>
            <nav class="menu">
                <a class="menu__item" href="#">
                    <span class="menu__text">Part 6</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__text">Part 15</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__text">Part 16</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__text">Part 29</span>
                </a>
                <a class="menu__item menu__item--active" href="#">
                    <span class="menu__text">Part 94</span>
                </a>
            </nav>
        </div>
        <!-- menu 끝 -->

        <!-- dashboard 시작 -->
        <div class="dashboard">
            <h2 class="dashboard__title">자동화 검사</h2>
            <div class="dashboard__video">
                <video src=""></video>
                <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=auto&panelId=2" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://127.0.0.1:3000/d-solo/aeb2fe8a-7c29-413c-9a7e-9a797ac2bbaf/vision?orgId=1&refresh=auto&panelId=1" width="450" height="200" frameborder="0"></iframe>
            </div>
        </div>
        <!-- dashboard 끝-->
    </div>
    <!-- detail 끝-->



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // 페이지 로드 시 자동으로 요청을 보냄
        $.get("/vision/model", function(data, status) {
        if (status === "success") {
            // 요청 성공
            // 여기에서 데이터를 처리하거나 무시할 수 있습니다.
        } else {
            // 요청 실패
            console.error("Failed to load content");
        }
        });
    });
    </script>
    
    <!-- footer 시작 -->
    {% include 'mainapp/include/footer.html' %}
    <!-- footer 끝 -->
</body>
</html>