<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        
        $(".footer__plan").click(function() {
            ses_mem_plan = "{{request.session.ses_mem_plan}}";
            if (ses_mem_plan === "") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('로그인 후 이용 가능합니다.');
                location.href = '/login';
            }
            else if (ses_mem_plan === "0") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('접근 권한이 없습니다.');
                location.href = '/';
            }
        });
        $(".footer__monitor").click(function() {
            ses_mem_monitor = "{{request.session.ses_mem_monitor}}";
            if (ses_mem_monitor === "") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('로그인 후 이용 가능합니다.');
                location.href = '/login';
            }
            else if (ses_mem_monitor === "0") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('접근 권한이 없습니다.');
                location.href = '/';
            }
        });
        $(".footer__vision").click(function() {
            ses_mem_vision = "{{request.session.ses_mem_vision}}";
            if (ses_mem_vision === "") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('로그인 후 이용 가능합니다.');
                location.href = '/login';
            }
            else if (ses_mem_vision === "0") {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 막습니다.
                alert('접근 권한이 없습니다.');
                location.href = '/';
            }
        });
    });
</script>
<footer class="footer">
    <div class="footer__content">
        <!-- 1열 -->
        <div class="footer__box">
            <h3 class="footer__title">Team</h3>
            <span class="footer__text">2023 한국품질재단</span>
            <span class="footer__text footer__blank">빅데이터 분석가 양성과정 2기</span>
            <span class="footer__text">김소연 김현준 박시윤</span>
            <span class="footer__text">양현준 이경현 최예진</span>
        </div>
        <!-- 2열 -->
        <div class="footer__box">
            <h3 class="footer__title">Links</h3>
            <a class="footer__text" href="/introduce">기술 소개</a>
            <a class="footer__text footer__plan" href="/planning/?part_no=part6">부품 생산 계획</a>
            <a class="footer__text footer__monitor" href="/monitoring/cast_proc">공정 모니터링</a>
            <a class="footer__text footer__vision" href="/vision">자동화 검사</a>
        </div>
        <!-- 3열 -->
        <div class="footer__box">
            <h3 class="footer__title">References</h3>
            <a class="footer__text" href="https://codepen.io/veronicadev/pen/YYvjzO">Codepen - veronica</a>
            <a class="footer__text" href="https://www.freepik.com/free-ai-image/mechanic-controls-robotic-arm-futuristic-production-line-generated-by-ai_41366140.htm#query=smart%20factory&position=18&from_view=search&track=ais?log-in=google">Freepik - vecstock</a>
        </div>
        <!-- 4열 -->
        <div class="footer__box">
            <h3 class="footer__title">Contact Us</h3>
            <a class="footer__text" href="mailto:data.syentist@gmail.com">E-mail</a>
            <a class="footer__text" href="https://github.com/isix-project">Github</a>
        </div>
    </div>
    <div class="footer__copyright">
        <span>Copyright © ISIX. All rights reserved.</span>
    </div>
</footer>