<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="contents">
                <!-- 1열 -->
                <div class="content--box">
                    <h3 class="footer__title">Team</h3>
                    <span class="footer__text">2023 한국품질재단</span>
                    <span class="footer__text footer__blank">빅데이터 분석가 양성과정 2기</span>
                    <span class="footer__text">김소연 김현준 박시윤</span>
                    <span class="footer__text">양현준 이경현 최예진</span>
                </div>
                <!-- 2열 -->
                <div class="content--box">
                    <h3 class="footer__title">Links</h3>
                    <a class="footer__text" href="/introduce/planning">기술 소개</a>
                    <a class="footer__text" href="/planning/">생산 계획</a>
                    <a class="footer__text" href="/monitoring/cast_proc">공정 모니터링</a>
                    <a class="footer__text" href="#">자동화 검사</a>
                </div>
                <!-- 3열 -->
                <div class="content--box">
                    <h3 class="footer__title">References</h3>
                    <a class="footer__text" href="https://codepen.io/veronicadev/pen/YYvjzO">Codepen - veronica</a>
                    <a class="footer__text" href="https://www.freepik.com/free-ai-image/mechanic-controls-robotic-arm-futuristic-production-line-generated-by-ai_41366140.htm#query=smart%20factory&position=18&from_view=search&track=ais?log-in=google">Freepik - vecstock</a>
                </div>
                <!-- 4열 -->
                <div class="content--box">
                    <h3 class="footer__title">Contact Us</h3>
                    <a class="footer__text" href="mailto:data.syentist@gmail.com">E-mail</a>
                    <a class="footer__text" href="https://github.com/isix-project">Github</a>
                </div>
            </div>
        </div>
    </div>
</footer>