<header class="header">
    <div class="container header__container">
        <!-- header logo -->
        <div class="header__logo">
            <a href="/"><img class="header__img" src="/static/images/isix_text_logo.png"></a>
        </div>
        <!-- header menu -->
        <div class="header__menu">
            <nav id="navbar" class="header__nav">
                <ul class="header__elenco">
                    <li class="header__el">
                        <a href="/introduce/planning" class="header__link">기술 소개</a>
                        <div class="dropdown__content dropdown__margin--1">
                            <a href="/introduce/planning">생산 계획</a>
                            <a href="/introduce/monitoring">공정 모니터링</a>
                            <a href="/introduce/vision">자동화 검사</a>
                        </div>
                    </li>
                    <li class="header__el"><a href="/planning/" class="header__link">생산 계획</a></li>
                    <li class="header__el">
                        <a href="/monitoring/cast_proc" class="header__link">공정 모니터링</a>
                        <div class="dropdown__content dropdown__margin--2">
                            <a href="/monitoring/cast_proc">주조 공정</a>
                            <a href="/monitoring/heat_proc">열처리 공정</a>
                            <a href="/monitoring/cnc_proc">CNC 공정</a>
                        </div>
                    </li>
                    <li class="header__el"><a href="/vision/" class="header__link">자동화 검사</a></li>
                    <li class="header__el header__el--blue"><a href="#" class="btn btn--white">로그인 →</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>