html,
body {
    background-color: #FFFFFF;
}

.detail {
    position: relative;
    display: flex;
    border-top: 0.8px solid #e3e3e3;
}

/* -----sidebar css----- */
.sidebar {
    width: 15%;
    font-size:15px;
    font-weight: 400;
    color: #1f4568;
    background-color: white;
    border-right:0.8px solid #e3e3e3;
}

/* -----avatar css----- */
.avatar {
    margin:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar__name {
    flex: 1;
    text-align: right;
}
.avatar__img > img {
    display: block;
    width: 75px;
    margin: 5px;
}

/* -----menubar css----- */
.menu {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
}
.menu__text {
    display: inline-block;
    font-size: 16px;
}
.menu__item {
    text-transform: uppercase;
    margin: 5px 15px;
    padding: 15px;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
}
.menu__item--active .menu__text {
    color: #ffffff;
}
.menu__item:hover {
    color: #6f79ff;
}
.menu__item--active {
    background-color: #1f4568;
    border-radius: 5px;
}

/* -----dashboard css----- */
.dashboard {
    width: 85%;
}
.dashboard__explain {
    padding:30px;
    font-weight: 300;
    border-bottom: 0.8px solid #e3e3e3;
}
.dashboard__title {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}
.dashboard__ex {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #8198ae;
}
.dashboard__select select,
.dashboard__select input{
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    color: #1f4568;
    border-radius: 3px;
    border: 0.5px solid #8198ae;
    cursor: pointer;
    padding: 3px 10px;
}

.dashboard__select input {
    padding: 5px 10px;
    border:none;
}
.dashboard__select {
    padding:15px 0;
    display: block;
}

/* -----dashboard contents----- */
.dashboard__content {
    position: relative;
    display: block;
    padding:30px;
}
/* -----생산 계획----- */
.dashboard__day {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 5px;
}
.dashboard__plan {
    padding: 30px;
    width: 31.3%;
    border: 0.5px solid #e3e3e3;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dashboard__plan span {
    display: block;
    font-size:52px;
    font-weight: 600;
}
.dashboard__plan h2 {
    display: block;
    font-size:24px;
    margin:0;
}
.week_plan {
    width: 100%;
    height: 400px;
}
.all_plan {
    width: 100%;
    height: 400px;
}

/* -----공정 모니터링----- */
.dashboard__range {
    display: flex;
}
.dashboard__range {
    justify-content: space-between;
    width:100%;
}
.dashboard__range--value {
    display: block;
    width: 33%;
}
.dashboard__range--value iframe {
    width: 100%;
}
.dashboard__pred iframe {
    width: 100%;
    height: 300px;
}
.dashboard__table iframe {
    width: 100%;
    height: 400px;
}
/* -----자동화 검사----- */
.dashboard__video {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.dashboard__video video {
    width: 300px;
    height: auto;
}
.dashboard__graph {
    display:block;
}
.dashboard__passfail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard__passfail iframe{
    width: 49.7%;
}


/* -----table----- */
table {
    border-collapse: collapse;
    width: 300px;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}

th {
background-color: #f1f1f1;
}

/* -----1024px----- */
@media screen and (max-width: 1024px) {
    .detail {
        border:none;
        display: inline;
    }
    .sidebar {
        display: none;
    }
    .dashboard {
        width: 100%;
    }
    .dashboard__plan h2 {
        font-size:18px;
    }
    .dashboard__plan span {
        font-size:38px;
    }
    .dashboard__passfail {
        display: block;
    }
    .dashboard__passfail iframe{
        width: 100%;
    }
}
/* -----1024px----- */

/* -----480px----- */
@media screen and (max-width: 480px) {
    .dashboard__plan h2 {
        font-size:10px;
    }
    .dashboard__plan span {
        font-size:28px;
    }
}
/* -----480px----- */