html,
body {
    background-color: #FFFFFF;
}

.detail {
    display:flex;
}

/* sidebar css */
.sidebar {
    width: 15%;
    font-size:15px;
    font-weight: 400;
    color: #1f4568;
    background-color: white;
    border-right:0.8px solid #e3e3e3;
}

/* avatar css */
.avatar {
    margin:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar__name {
    flex: 1;
    text-align: right;
}
.avatar__img > img {
    display: block;
    width: 75px;
    margin: 5px;
}

/* menubar css */
.menu {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
}

.menu__text {
    display: inline-block;
}

.menu__item {
    text-transform: uppercase;
    margin: 5px 15px;
    padding: 15px;
    border-left: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
}

.menu__item--active .menu__text {
    color: #ffffff;
}

.menu__item:hover {
    color: #6f79ff;
}

.menu__item--active {
    background-color: #1f4568;
    border-radius: 5px;
}

/* dashboard css */
.dashboard {
    width: 85%;
}

.dashboard img {
    width: 100%;
}

.dashboard__text {
    padding: 15px 30px;
    line-height: 15px;
}

.dashboard__ex {
    color: #8198ae;
}
