html,
body {
    background-color: #FFFFFF;
}

/* 기술 제목 */
.intro__box {
    position: relative;
}
.intro__title {
    text-align: center;
    justify-content:center; 
    align-items: center;
    background-color: #1f4568;
    color:#ffffff;
    padding: 50px;
}
.intro__title__large {
    display: block;
    font-size: 48px;
    font-weight: 700;
}
.intro__title__small {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color:#7e94ad;
}

/* 기술 부제목 */
.intro__subtitle {
    text-align: center;
    align-items: center;
    justify-content:center; 
    font-size: 18px;
    background-color: #F1F4FB;
    padding:30px 50px;
}
.intro__subtitle__large {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin:15px 0;
}
.intro__subtitle__small {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin:15px 0;
}

/* 기술 상세 내용 */
.intro__detail {
    padding: 50px;
}
.intro__detail__box {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.intro__detail__text {
    display: block;
    width: 450px;
    margin:15px;
}
.intro__detail__text--title {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 60px;
}
.intro__detail__text--cont {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.intro__detail__img {
    display: block;
    width: 450px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
    margin:15px;
}

/* -----1024px----- */
@media screen and (max-width: 1024px) {
    .intro__detail {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro__detail__box {
        flex-direction: column;
        text-align: center; 
    }
    .intro__detail__box {
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .intro__detail__text {
        width: 70%;
    }
    .intro__detail__text--title {
        font-size: 20px;
    }
}
/* -----1024px----- */