html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  color: #1f4568;
  background-color: #F1F4FB;
}

/* -----header----- */
.header {
  padding: 18px 80px;
  top:0;
  position: sticky;
  background-color: #F1F4FB;
  z-index: 10;
}
.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__menu {
  float: right;
  font-weight: 500;
}
.header__el {
  padding: 5px 25px;
  display: inline-block;
}
.header__img {
  display: inline-block;
  vertical-align: middle;
  width:120px;
}
.header__logo,
.header__menu {
  display: inline-block;
  vertical-align: middle;
}
.header__link {
  color: #1f4568;
  font-size: 18px;
  text-decoration: none;
  display: block;
}
.header__link:hover {
  text-decoration: none;
  color: #3a61ff;
}
.dropdown__content{
  display : none;
  position : absolute;
  z-index : 1;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  min-width : 100px;
  border-radius: 5px;
}
.dropdown__content a{
  display : block;
  text-decoration : none;
  color : #1f4568;
  font-size: 15px;
  padding : 10px 20px;
}
.dropdown__content a:hover{
  background-color : #ececec;
  border-radius: 5px;
}
.dropdown__margin--1 {
  margin: 2px 0 0 -28px;
}
.dropdown__margin--2 {
  margin: 2px 0 0 -6px;
}
.header__el:hover .dropdown__content {
  display: block;
}
.navbar-toggle .icon-bar {
  background-color: #8198ae;
}
.navbar-toggle {
  margin: 5px 0;
}
/* -----header----- */

/* -----main image----- */
@keyframes text-ani {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
.site {
  text-align: center;
  color:#ffffff;
}
.site__img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.site__title {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
  top: -320px;
  position: relative;
  z-index: 2;
  animation: text-ani 2.5s ease forwards;
}
.site__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  top: -315px;
  position: relative;
  z-index: 2;
  animation: text-ani 2.5s ease forwards;
}
/* -----main image----- */

/* -----기술 요약 제목----- */
.isix__summary {
  padding: 10px 0 80px 0;
}
.summary__text {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 18px;
}

.summary__title {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

.summary__sub{
  font-size: 20px;
  font-weight: 300;
  color: #8198ae;
}
/* -----기술 요약 제목----- */

/* -----기술 요약 박스----- */
.summary__content {
  display: flex;
  justify-content:center; 
  align-items: center;
}
.content--box__title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.content--box__list {
  text-align: left;
  padding-left: 30px;
  margin: 0;
  list-style: none;
}
.content--box__list-el {
  position: relative;
  margin-bottom: 8px;
  font-weight: 300;
}
.content--box__list-el:before {
  content: "✓";
  position: absolute;
  left: -25px;
  font-size: 18px;
  top: -4px;
}
.content--box {
  margin: 25px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
  padding: 35px 35px 40px 35px;
  width: 210px;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.content--box__img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin:15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content--box--planning .content--box__img {
  background-image: url("/static/images/planning_image.png");
}
.content--box--monitoring .content--box__img {
  background-image: url("/static/images/monitoring_image.png");
}
.content--box--auto .content--box__img {
  background-image: url("/static/images/auto_image.png");
}
.content--box:hover {
  backface-visibility: hidden;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}
/* -----기술 요약 박스----- */

/* -----footer----- */
.footer {
  background-color: #142331;
  height: 240px;
}
.footer__content {
  display: flex;
  color:#ffffff;
  justify-content:center; 
}
.footer__box {
  width: 250px;
  padding: 30px 10px;
  text-align: left;
}
.footer__title{
  font-size: 18px;
  font-weight: 500;
}
.footer__text {
  display: block;
  color:#ffffff;
  font-weight: 300;
  text-decoration: none;
  margin: 5px 0px;
}
.footer__blank {
  margin-bottom: 15px;
}
/* -----footer----- */

/* -----button----- */
.btn {
  background-color: #3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 10px 8px -6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0px 13px 7px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}

.btn--width {
  width: 120px;
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #646e76;
  font-size: 16px;
  font-weight: 500;
}

.btn--white:hover {
  background-color: #fff;
  color: #8198ae;
}
/* -----button----- */

/* -----1024px----- */
@media screen and (max-width: 1024px) {
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
  .header__container {
    width: 100%;
    padding: 0;
  }
  .header__menu {
    width: 100%;
  }
  .header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  .header__logo {
    padding: 12px 20px 12px 20px;
  }
  .header__el {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ededed;
  }
  .header .btn--white,
  .header .btn--white:hover {
    padding: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    background-color: transparent;
  }
  .header__el--blue {
    background-color: #3a9fff;
    margin-bottom: 50px;
  }
  .header__el:hover .dropdown__content {
    display: none;
  }
}
/* -----1024px----- */

/* -----767px----- */
@media screen and (max-width: 767px) {
  .summary__content {
    display:grid;
  }
  .site__img {
    width: 100%;
  }
  .site__title {
    font-size: 25px;
    font-weight: 500;
    color:#ffffff;
    margin: 0;
    top: -200px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .site__subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    top: -200px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
}
/* -----767px----- */

/* -----480px----- */
@media screen and (max-width: 480px) {
  .content--box {
    padding: 20px 20px 30px 20px;
  }
  .content--box__list-el {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .site__title {
    font-size: 24px;
  }
  .site__subtitle {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }
  .site__img {
    margin-top: 30px;
  }
  .btn {
    font-size: 18px;
    padding: 8px 8px;
    text-decoration: none;
  }
  .btn--width {
    width: 100px;
  }
}
/* -----480px----- */
